<form name="pwdForm" novalidate>
  <div class="form-group row" ng-class="{ 'has-error': pwdForm.password.$dirty && pwdForm.password.$error.required }">
      <span class="col-md-6 col-md-offset-3">
        <label for="password" class="control-label">{{ 'ACCOUNT.PASSWORD' | translate}}</label>
      </span>
      <span class="col-md-6 col-md-offset-3">
        <input type="password" name="password" id="password" class="form-control" ng-model="ctrl.password" required
          ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{6,16}$/"
          gs-strength/>
        <div ng-messages="pwdForm.password.$error" ng-messages-multiple>
          <div ng-messages-include="js/components/password/password.message.html"></div>
        </div>
      </span>
  </div>
  <div class="form-group row" ng-class="{ 'has-error': pwdForm.passwordConfirm.$dirty && pwdForm.passwordConfirm.$error.required }">
      <span class="col-md-6 col-md-offset-3">
        <label for="passwordConfirm" class="control-label">{{ 'ACCOUNT.PASSWORD_CONFIRM' | translate}}</label>
      </span>
      <span class="col-md-6 col-md-offset-3">
        <input type="password" name="passwordConfirm" id="passwordConfirm"  ng-model="ctrl.passwordConfirm" class="form-control" required gs-compare-to="ctrl.password" />
        <div ng-messages="pwdForm.passwordConfirm.$error" ng-messages-multiple>
          <div ng-messages-include="js/components/password/password.message.html"></div>
        </div>
      </span>
  </div>
  <div class="form-actions row">
    <span class="col-md-6 col-md-offset-3">
      <button type="submit" ng-disabled="pwdForm.$invalid" class="btn btn-primary">{{ 'ACTION.CHANGE' | translate}}</button>
      <a href="#/login" class="btn btn-link">{{ 'ACTION.CANCEL' | translate}}</a>
    </span>
  </div>
</form>
