
<div ng-message="required" class="text-danger">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  {{ 'ACCOUNT.PASSWORD_REQUIRED' | translate}}
</div>
<div ng-message="minLength" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  Password too short!
</div>
<div ng-message="maxLength" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  Password too long!
</div>
<div ng-message="letter" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  Password needs letters!
</div>
<div ng-message="number" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  Password needs numbers!
</div>
<div ng-message="compareTo" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  Confirmation fails !
</div>
