<ul class="nav navbar-nav">
  <li ng-class="ctrl.isActive('admin.topics') && ctrl.hasPermission('TOPIC_MANAGER')"><a ui-sref="admin.topics">Evénements</a></li>
  <li ng-class="ctrl.isActive('admin.classes') && ctrl.hasPermission('TEACHER')"><a ui-sref="admin.classes">Classes</a></li>
  <li ng-class="ctrl.isActive('admin.secretariat') && ctrl.hasPermission('SECRETARY')"><a ui-sref="admin.secretariat">Secrétariat</a></li>
  <li ng-class="ctrl.isActive('admin.treasury') && ctrl.hasPermission('TREASURER')"><a ui-sref="admin.treasury">Trésorerie</a></li>
</ul>
