<div class="panel-body">
  <div class="row">
    <span class="col-md-8">
      <div class="row">
        <p>{{ctrl.subscription.description}}</p>
      </div>
      <div class="row">
        <span class="col-md-12">
          <div class="row" ng-if="ctrl.subscription.role">
            <p>Inscrit en tant que : <strong>{{ctrl.subscription.role}}</strong></p>
          </div>
          <div class="row" ng-if="ctrl.subscription.partnerName">
            <p>Avec : <strong>{{ctrl.subscription.partnerName}}</strong></p>
          </div>
        </span>
      </div>
      <div class="row">
        <p>Requiert :</p>
        <span class="col-md-12">
            <div ng-if="ctrl.subscription.requirements.length > 0">
              <ul ng-repeat="item in ctrl.subscription.requirements">
                <li>{{item.title}}</li>
              </ul>
            </div>
            <div ng-if="ctrl.subscription.requirements.length === 0">
              <ul><li>aucun pré-requis</li></ul>
            </div>
        </span>
      </div>
    </span>
    <span class="col-md-2">{{ctrl.subscription.amount | currency : '€'}}</span>
    <span class="col-md-2">
      <div class="row">
        <span ng-if="!!ctrl.subscription.selected"
              ng-class="{'alert-success' : ctrl.subscription.state == 'paid'}">
                <a class="btn btn-primary" role="button" disabled>{{ctrl.subscription.state | translate}}</a>
        </span>
      </div>
      <div class="row">
        <span ng-if="!ctrl.subscription.selected">
          <a class="btn btn-primary" role="button" ng-click="ctrl.validateSubscription()">ajouter</a>
        </span>
        <span ng-if="ctrl.subscription.selected && ctrl.subscription.state == 'waiting_for_payment'">
          <a class="btn btn-primary" role="button" ng-disabled="!ctrl.isUpdatable()" ng-click="ctrl.updateSubscription()"><i class="glyphicon glyphicon-edit"></i> modifier</a>
          <a class="btn btn-primary" role="button" ng-disabled="!ctrl.isCancellable()" ng-click="ctrl.cancelSubscription()"><i class="glyphicon glyphicon-trash"></i> supprimer</a>
        </span>
      </div>
    </span>
  </div>
</div>
