<div gs-nav></div>
  <uib-tabset active="active">
      <uib-tab index="0" heading="{{ 'ACCOUNT.TITLE' | translate}}" ng-if="ctrl.showAccount()">
        <div gs-account-view="ctrl.user"></div>
      </uib-tab>
      <uib-tab index="1" heading="{{ 'PASSWORD.TITLE' | translate}}" ng-if="ctrl.showPassword()">
        <div gs-password-edit></div>
      </uib-tab>
      <uib-tab index="2" heading="{{ 'SUBSCRIPTIONS.TITLE' | translate}}" ng-if="ctrl.showSubscriptions()">
        <div gs-subscriptions-view></div>
      </uib-tab>
      <uib-tab index="3" heading="{{ 'BALANCE.TITLE'  | translate}}" ng-if="ctrl.showBalance()">
        Balance page
        <!-- <div gs-balance /> -->
      </uib-tab>
      <uib-tab index="4" heading="{{ 'TOPICS.TITLE' | translate}}" ng-if="ctrl.showTopics()">
        Topics page
        <!-- <div gs-topics /> -->
      </uib-tab>
  </uib-tabset>
