
<div ng-message="required" class="text-danger">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  {{ 'ACCOUNT.PASSWORD_REQUIRED' | translate}}
</div>
<div ng-message="minLength" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  {{ 'PASSWORD.PWD_TOO_SHORT' | translate}}
</div>
<div ng-message="maxLength" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  {{ 'PASSWORD.PWD_TOO_LONG' | translate}}
</div>
<div ng-message="letter" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  {{ 'PASSWORD.PWD_NEEDS_LETTERS' | translate}}
</div>
<div ng-message="number" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  {{ 'PASSWORD.PWD_NEEDS_NUMBERS' | translate}}
</div>
<div ng-message="compareTo" class="text-danger">
  <span class="glyphicon glyphicon-remove has-error" aria-hidden="true"></span>
  {{ 'PASSWORD.PWD_CONFIRM_FAILED' | translate}}
</div>
