<form name="pwdForm" novalidate ng-submit="ctrl.save()">
  <div class="form-group row" ng-class="{ 'has-error': pwdForm.oldPassword.$dirty && pwdForm.oldPassword.$error.required }">
      <span class="col-md-6 col-md-offset-3">
        <label for="oldPassword" class="control-label">{{ 'ACCOUNT.PASSWORD_OLD' | translate}}</label>
      </span>
      <span class="col-md-6 col-md-offset-3">
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" ng-model="ctrl.oldPassword" required/>
        <div ng-messages="pwdForm.oldPassword.$dirty && pwdForm.oldPassword.$error" ng-messages-multiple>
          <div ng-messages-include="components/member/password/edit/password.message.html"></div>
        </div>
      </span>
  </div>
  <div class="form-group row" ng-class="{ 'has-error': pwdForm.newPassword.$dirty && pwdForm.newPassword.$error.required }">
      <span class="col-md-6 col-md-offset-3">
        <label for="newPassword" class="control-label">{{ 'ACCOUNT.PASSWORD_NEW' | translate}}</label>
      </span>
      <span class="col-md-6 col-md-offset-3">
        <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="ctrl.newPassword" required
          ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{6,16}$/"
          gs-strength/>
        <div ng-messages="pwdForm.newPassword.$dirty && pwdForm.newPassword.$error" ng-messages-multiple>
          <div ng-messages-include="components/member/password/edit/password.message.html"></div>
        </div>
      </span>
  </div>
  <div class="form-group row" ng-class="{ 'has-error': pwdForm.newPasswordConfirm.$dirty && pwdForm.newPasswordConfirm.$error.required }">
      <span class="col-md-6 col-md-offset-3">
        <label for="newPasswordConfirm" class="control-label">{{ 'ACCOUNT.PASSWORD_CONFIRM' | translate}}</label>
      </span>
      <span class="col-md-6 col-md-offset-3">
        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm"  ng-model="ctrl.newPasswordConfirm" class="form-control" required
          gs-compare-to="ctrl.newPassword" />
        <div ng-messages="pwdForm.newPasswordConfirm.$dirty && pwdForm.newPasswordConfirm.$error" ng-messages-multiple>
          <div ng-messages-include="components/member/password/edit/password.message.html"></div>
        </div>
      </span>
  </div>
  <div class="form-actions row">
    <span class="col-md-6 col-md-offset-3">
      <button type="submit" ng-disabled="pwdForm.$invalid" class="btn btn-primary">{{ 'ACTION.CHANGE' | translate}}</button>
    </span>
  </div>
</form>
