<div class="row">
  <div class="col-md-12">
    <h2>Liste des inscriptions</h2>
    <table class="table table-striped">
      <tr>
        <th>intitulé</th>
        <th>état</th>
        <th>somme dûe</th>
      </tr>
      <tr ng-repeat="subscription in ctrl.list | orderBy : 'id'">
        <td>{{subscription.topicTitle}}</td>
        <td>{{subscription.state}}</td>
        <td>{{subscription.amount}}</td>
      </tr>
    </table>
    <h4>Reste à payer: {{ctrl.total | currency : '€'}}</h4>
  </div>
</div>
