<ul class="nav navbar-nav">
  <li ng-class="ctrl.isActive('admin.topics')" ng-if="ctrl.hasPermission('ROLE_TOPIC_MANAGER')"><a ui-sref="admin.topics">Evénements</a></li>
  <li ng-class="ctrl.isActive('admin.classes')" ng-if="ctrl.hasPermission('ROLE_TEACHER')"><a ui-sref="admin.classes">Classes</a></li>
  <li ng-class="ctrl.isActive('admin.secretariat')" ng-if="ctrl.hasPermission('ROLE_SECRETARY')"><a ui-sref="admin.secretariat">Secrétariat</a></li>
  <li ng-class="ctrl.isActive('admin.treasury')" ng-if="ctrl.hasPermission('ROLE_TREASURER')"><a ui-sref="admin.treasury">Trésorerie</a></li>
</ul>
