<ul class="nav navbar-nav" permission permission-only="'AUTHORIZED'">
  <li ng-class="ctrl.isActive('admin.activity')" permission permission-only="'ROLE_TOPIC_MANAGER'">
    <a ui-sref="admin.activity">Evénements</a>
  </li>
  <li ng-class="ctrl.isActive('admin.topics')" permission permission-only="'ROLE_TOPIC_MANAGER'">
    <a ui-sref="admin.topics">Evénements</a>
  </li>
  <li ng-class="ctrl.isActive('admin.classes')" permission permission-only="'ROLE_TEACHER'">
    <a ui-sref="admin.classes">Classes</a>
  </li>
  <li ng-class="ctrl.isActive('admin.secretariat')" permission permission-only="'ROLE_SECRETARY'">
    <a ui-sref="admin.secretariat">Secrétariat</a>
  </li>
  <li ng-class="ctrl.isActive('admin.treasury')" permission permission-only="'ROLE_TREASURER'">
    <a ui-sref="admin.treasury">Trésorerie</a>
  </li>
</ul>
