<div class="col-xs-12 col-sm-12 clearfix" id="notice">
  <h3 style="font-size: 28px;">Données personnelles </h3>
  <p style="font-size: 16px;">Les informations recueillies à partir de ce formulaire font l’objet d’un traitement informatique destiné&nbsp;à <strong>Grenoble Swing</strong></p>
  <p style="font-size: 16px;">Pour la ou les finalité(s) suivante(s) :&nbsp;</p>
  <p style="font-size: 16px;"><strong>la gestion de nos adhérents</strong></p>
  <p style="font-size: 16px;">Le ou les&nbsp;destinataire(s) des données sont :</p>
  <p style="font-size: 16px;"><strong>secrétariat</strong></p>
  <p style="font-size: 16px;">Conformément à la <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee">loi « informatique et libertés » du 6 janvier 1978 modifiée</a>, vous disposez d’un&nbsp;<a href="https://www.cnil.fr/fr/le-droit-dacces">droit d’accès</a> et <a href="/fr/le-droit-de-rectification">de rectification</a> aux informations qui vous concernent.&nbsp;</p>
  <p style="font-size: 16px;">Vous pouvez accèder aux informations vous concernant&nbsp;en vous adressant à&nbsp;: <strong>info@grenobleswing.com</strong><br>
  &nbsp;</p>
  <p style="font-size: 16px;">Vous pouvez également, pour des motifs légitimes, <a href="https://www.cnil.fr/fr/le-droit-dopposition">vous opposer&nbsp;au traitement des données vous concernant</a>.</p>
  <p style="font-size: 16px;">Pour en savoir plus, <a href="https://www.cnil.fr/fr/comprendre-vos-droits">consultez&nbsp;vos droits sur le site de la CNIL</a>.</p>
</div>
