<div ng-repeat="subscription in ctrl.list | orderBy : 'id'">
  <div class="row">
    <div class="col-md-4">{{subscription.topicTitle}}</div>
    <div class="col-md-4">{{subscription.balance | currency : '€'}}</div>
    <div class="col-md-4">
      <input type="checkbox"
              ng-model="subscription.selected"
              ng-disabled="subscription.state == 'closed' || subscription.state == 'paid' || !!subscription.isLoading"
              ng-change="ctrl.updateSubscription(subscription)">
    </div>
  </div>
</div>
<div ui-view="summary"></div>
