<div ng-repeat="subscription in ctrl.list | orderBy : 'id'" class="col-md-8 col-md-offset-2">
    <uib-accordion>
      <div uib-accordion-group>
        <uib-accordion-heading>
          <div class="panel-header row">
            <span class="col-md-8">
              <a href ng-click="ctrl.openDescription(subscription)">{{subscription.topicTitle}}</a>
            </span>
            <span class="col-md-3">
              <p ng-if="!!subscription.selected">{{subscription.state}}</p>
            </span>
            <span class="col-md-1">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !!subscription.isOpen, 'glyphicon-chevron-right': !subscription.isOpen}"></i>
            </span>
          </div>
        </uib-accordion-heading>
        <div class="panel-collapse collapse" uib-collapse="!subscription.isOpen">
          <div class="panel-body">
            <div class="row">
              <span class="col-md-8">
                <div class="row">
                  <p>{{subscription.description}}</p>
                </div>
                <div class="row">
                  <span class="col-md-12">
                    <div class="row" ng-if="subscription.role">
                      <p>Inscrit en tant que : {{subscription.role}}</p>
                    </div>
                    <div class="row" ng-if="subscription.partnerName">
                      <p>Avec : {{subscription.partnerName}}</p>
                    </div>
                  </span>
                </div>
                <div class="row" data-subscription="subscription" data-list="ctrl.list"></div>
                <div class="row" ng-init="requiredSubscriptions = ctrl.getRequiredSubscriptions(subscription)">
                  <span class="col-md-8">
                      Requiert :
                      <div ng-if="requiredSubscriptions.length > 0">
                        <ul ng-repeat="item in requiredSubscriptions">
                          <li>{{item.topicTitle}}</li>
                        </ul>
                      </div>
                      <div ng-if="requiredSubscriptions.length === 0">
                        <ul><li>aucun pré-requis</li></ul>
                      </div>
                  </span>
                </div>
              </span>
              <span class="col-md-2">{{subscription.balance | currency : '€'}}</span>
              <span class="col-md-2">
                <span ng-if="!!subscription.selected && subscription.state == 'paid'" class="alert alert-success">{{subscription.state | translate}}</span>
                <span ng-if="!!subscription.selected && subscription.state == 'waiting_for_payment'" class="alert alert-warning">{{subscription.state | translate}}</span>
                <span ng-if="!subscription.selected && subscription.type === 'duet'">
                  <a class="btn btn-primary" role="button" ng-click="ctrl.validateDuetSubscription(subscription)">ajouter</a>
                </span>
                <span ng-if="!subscription.selected && subscription.type !== 'duet'">
                  <a class="btn btn-primary" role="button" ng-click="ctrl.validateSubscription(subscription)">ajouter</a>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
</div>

<div ui-view name="summary"></div>

<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <a class="btn btn-danger" role="button" ng-disabled="!ctrl.dirty" ng-click="ctrl.cancelChanges()">Réinitialiser</a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary" role="button" ng-disabled="!ctrl.dirty">Valider</a>
  </div>
</div>
