<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
  Je suis :
  <input type="radio" name="role" ng-model="role" value="follow" />Cavalier / Leader
  <input type="radio" name="role" ng-model="role" value="lead" />Cavalière / Follower

  J'ai un(e) partenaire : <input type="text" name="partner" ng-model="partner" />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.apply()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
