<div ng-repeat="subscription in ctrl.list | orderBy : 'id'" class="col-md-12">
    <span class="col-md-12">
      <div class="row">
        <span class="col-md-6">
          <h3 class="text-primary">{{subscription.topicTitle}}</h3>
          <span ng-if="!!subscription.selected"
            ng-class="{'text-primary' : subscription.state == 'PAID', 'text-warning' : subscription.state == 'SUBMITTED'}">{{subscription.state | translate}}</span>
        </span>
        <span class="col-md-6">
          <span gs-subscription-add    data-subscription="subscription"></span>
          <span gs-subscription-update data-subscription="subscription"></span>
          <span gs-subscription-cancel data-subscription="subscription"></span>
        </span>
      </div>
      <div class="row">
        <div gs-subscription-duet-description data-subscription="subscription" ng-if="subscription.type === 'couple'"></div>
        <div gs-subscription-solo-description data-subscription="subscription" ng-if="subscription.type !== 'couple'"></div>
      </div>
    </span>
    <hr />
</div>
