<div class="panel-body">
  <div class="row">
    <span class="col-md-10">
      <div class="row">
        <p>{{ctrl.subscription.description}}</p>
      </div>
      <div class="row">
        <span class="col-md-12">
          <div class="row" ng-if="ctrl.subscription.role">
            <p>Inscrit en tant que : {{ctrl.subscription.role}}</p>
          </div>
          <div class="row" ng-if="ctrl.subscription.partnerName">
            <p>Avec : {{ctrl.subscription.partnerName}}</p>
          </div>
        </span>
      </div>
      <div class="row">
        <p>Requiert :</p>
        <span class="col-md-12">
            <div ng-if="ctrl.subscription.requirements.length > 0">
              <ul ng-repeat="item in ctrl.subscription.requirements">
                <li>{{item.title}}</li>
              </ul>
            </div>
            <div ng-if="ctrl.subscription.requirements.length === 0">
              <ul><li>aucun pré-requis</li></ul>
            </div>
        </span>
      </div>
    </span>
    <span class="col-md-2">{{ctrl.subscription.amount | currency : '€'}}</span>
  </div>
</div>
