<div class="modal-header">
    <h3 class="modal-title">Danse de couple</h3>
</div>
<div class="modal-body">
  <div class="row">
    <span class="col-md-4">
      <label for="role">Je suis :</label>
    </span>
    <span class="col-md-4">
      <input type="radio" name="role" ng-model="ctrl.role" value="lead" />Cavalier / Leader
    </span>
    <span class="col-md-4">
      <input type="radio" name="role" ng-model="ctrl.role" value="follow" />Cavalière / Follower
    </span>
  </div>

  <div class="row">
    <span class="col-md-4">
      <label for="partner">J'ai un(e) partenaire :</label>
    </span>
    <span class="col-md-8">
      <input type="text" name="partner" ng-model="ctrl.partnerName" />
    </span>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.apply()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>
