<div ng-repeat="subscription in ctrl.list | orderBy : 'id'" class="col-md-8 col-md-offset-2">
    <uib-accordion>
      <div uib-accordion-group>
        <uib-accordion-heading>
          <div class="panel-header row">
            <span class="col-md-8">
              <a href ng-click="ctrl.openDescription(subscription)">{{subscription.topicTitle}}</a>
            </span>
            <span class="col-md-3">
              <p ng-if="!!subscription.selected">{{subscription.state}}</p>
            </span>
            <span class="col-md-1">
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !!subscription.isOpen, 'glyphicon-chevron-right': !subscription.isOpen}"></i>
            </span>
          </div>
        </uib-accordion-heading>
        <div class="panel-collapse collapse" uib-collapse="!subscription.isOpen">
          <div gs-subscription-duet-description data-description="subscription" ng-if="subscription.type === 'duet'"></div>
          <div gs-subscription-solo-description data-description="subscription" ng-if="subscription.type !== 'duet'"></div>
        </div>
      </div>
    </uib-accordion>
</div>

<div ui-view name="summary"></div>

<div class="row">
  <div class="col-md-2 col-md-offset-6">
    <a class="btn btn-danger" role="button" ng-disabled="!ctrl.dirty" ng-click="ctrl.cancelChanges()">Réinitialiser</a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary" role="button" ng-disabled="!ctrl.dirty">Valider</a>
  </div>
</div>
