
<div ng-message="required" class="text-danger">
  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_REQUIRED' | translate}}
</div>
<div ng-message="minLength" class="text-danger">
  <i class="glyphicon glyphicon-remove has-error" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_TOO_SHORT' | translate}}
</div>
<div ng-message="maxLength" class="text-danger">
  <i class="glyphicon glyphicon-remove has-error" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_TOO_LONG' | translate}}
</div>
<div ng-message="letter" class="text-danger">
  <i class="glyphicon glyphicon-remove has-error" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_NEEDS_LETTERS' | translate}}
</div>
<div ng-message="number" class="text-danger">
  <i class="glyphicon glyphicon-remove has-error" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_NEEDS_NUMBERS' | translate}}
</div>
<div ng-message="compareTo" class="text-danger">
  <i class="glyphicon glyphicon-remove has-error" aria-hidden="true"></i>
  {{ 'PASSWORD.PWD_CONFIRM_FAILED' | translate}}
</div>
