<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h2>Liste des inscriptions</h2>
      <div ng-repeat="elem in ctrl.list | orderBy : 'id'">
        <h4>{{elem.name}}</h4>
        <table class="table table-striped">
          <tr>
            <th>intitulé</th>
            <th>tarif</th>
            <th>somme dûe</th>
          </tr>
          <tr ng-repeat="registration in elem.data | orderBy : 'registrationId'">
            <td>{{registration.name}}</td>
            <td>{{registration.price}}</td>
            <td>{{registration.alreadyPaid}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12"><h4>Total : {{ctrl.totalAmount}}€</h4></div>
  <div class="col-md-12">{{ctrl.payment | json}}</div>
  <div class="col-md-12">{{ctrl.onAuthorize | json}}</div>
  <div class="col-md-12">
    <div class="row">
        <paypal-button
          env="opts.env"
          client="opts.client"
          payment="opts.payment"
          commit="opts.commit"
          on-authorize="opts.onAuthorize"
          on-cancel="opts.onCancel"
          style="opts.style"
        </paypal-button>
    </div>
  </div>
</div>
