<div ng-repeat="class in ctrl.list | orderBy : 'id'" class="col-md-12">
  <div class="panel-header row">
    <span class="col-md-8">
      <uib-accordion>
        <div uib-accordion-group>
          <uib-accordion-heading>
            <div class="panel-header row">
              <span class="col-md-11">
                <a href ng-click="ctrl.openDescription(class)">{{class.label}}</a>
              </span>
              <span class="col-md-1">
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !class.isOpen, 'glyphicon-chevron-right': !!class.isOpen}"></i>
              </span>
            </div>
          </uib-accordion-heading>
          <div class="panel-collapse collapse" uib-collapse="!class.isOpen">
            <div gs-duet-students data-class="class" ng-if="class.type == 'couple'"></div>
            <div gs-solo-students data-class="class" ng-if="class.type == 'solo'"></div>
          </div>
        </div>
      </uib-accordion>
    </span>
  </div>
</div>
