<h2>Activité</h2>
<span class="col-md-12">
  <div class="row">
    <span class="col-md-6">
      <h3 class="text-primary">{{ctrl.activity.title}}</h3>
    </span>
  </div>
  <div class="row">
    <p>{{ctrl.year}}</p>
  </div>
  <div class="row">
    <p>{{ctrl.activity.description}}</p>
  </div>
  <div class="row">
    <p>{{ctrl.activity.state | translate}}</p>
  </div>
</span>

<h2>Remises</h2>
<div ng-repeat="discount in ctrl.discounts | orderBy : 'id'" class="col-md-12">
    <span class="col-md-12">
      <div class="row">
        <span class="col-md-6">
          <h3 class="text-primary">{{discount.title}}</h3>
        </span>
        <span class="col-md-6">
          <span ng-if="!!discount._links.update" gs-discount-update data-discount="discount"></span>
          <span ng-if="!!discount._links.cancel" gs-discount-cancel data-discount="discount"></span>
        </span>
      </div>
    </span>
</div>

<h2>Catégories</h2>
<div ng-repeat="category in ctrl.categories | orderBy : 'id'" class="col-md-12">
    <span class="col-md-12">
      <div class="row">
        <span class="col-md-6">
          <h3 class="text-primary">{{category.title}}</h3>
        </span>
        <span class="col-md-6">
          <span ng-if="!!category._links.update" gs-category-update data-category="category"></span>
          <span ng-if="!!category._links.cancel" gs-category-cancel data-category="category"></span>
        </span>
      </div>
    </span>
</div>

<h2>Sujets</h2>
<div ng-repeat="topic in ctrl.topics | orderBy : 'id'" class="col-md-12">
    <span class="col-md-12">
      <div class="row">
        <span class="col-md-6">
          <h3 class="text-primary">{{topic.title}}</h3>
        </span>
        <span class="col-md-6">
          <span ng-if="!!topic._links.update" gs-topic-update data-topic="topic"></span>
          <span ng-if="!!topic._links.cancel" gs-topic-cancel data-topic="topic"></span>
        </span>
      </div>
    </span>
</div>

<h2>Actions</h2>
<span class="col-md-6">
  <span ng-if="!!ctrl.activity._links.edit" gs-activity-update data-activity="ctrl.activity"></span>
  <span ng-if="!!ctrl.activity._links.remove" gs-activity-remove data-activity="ctrl.activity"></span>
</span>
<hr />
<span class="col-md-6">
  <span ng-if="!!ctrl.activity._links.new_category" gs-activity-add-category data-activity="ctrl.activity"></span>
  <span ng-if="!!ctrl.activity._links.new_topic" gs-activity-add-topic data-activity="ctrl.activity"></span>
  <span ng-if="!!ctrl.activity._links.new_discount" gs-activity-add-discount data-activity="ctrl.activity"></span>
</span>
